<div class="jumbtron">
  <h1 class="display-4 text-center"><i class="fab fa-uniregistry"></i>ser <i class="fas fa-registered"></i>egister</h1>
  <hr>

  <div class="col-md-1-3">
      <app-user></app-user>
  </div>

  <div class="col-md-2-3">
      <div class="bs-callout bs-callout-default">
          <h4>Online-Auction</h4>
        <p>
             has the staff and knowledge to handle any situation, whether it’s one item, a large collection or an entire estate. We hold monthly specialized auctions with a broad range of items. Examples include antiques, high-end collectibles, coins, fine jewelry and costume jewelry, firearms, military, hunting and fishing, vintage postcards and photographs, vintage toys, art pottery, advertising memorabilia, Civil War, WW1 and WW2 items, local advertising, sterling silver, vintage sports cards and memorabilia.
        </p>
      </div>
  </div>
  
    
</div>


