<table class="table table-hover">
    <tr style="background-color:#FFA000">
        <td><b>Nickname</b></td>
         <td><b>Name</b></td>
         <td><b>Surname</b></td>
         <td><b>Patronymic</b></td>
         <td><b>Location</b></td>
       </tr>
  <tr *ngFor="let pd of service.list">
    <td style="background-color: #808080" (click)="populateForm(pd)"><i class="fas fa-user-tie"></i> {{pd.Login}}</td> 
    <td style="background-color: #F5F5DC" (click)="populateForm(pd)">{{pd.Name}} </td>
    <td style="background-color: #808080" (click)="populateForm(pd)">{{pd.Fam}} </td>
    <td style="background-color: #F5F5DC" (click)="populateForm(pd)">{{pd.Otc}} </td>
    <td style="background-color:#808080" (click)="populateForm(pd)"><i class="fas fa-globe-europe"></i><b> {{pd.Address}}</b></td>
    <td>
      <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.Id)"></i>
    </td>
  </tr>
</table>
