
<div class="col-2-4">
     <div class="center">
         <div class="conte">
            <div class="btn-group btn-group-justified" role="group">
                <div class="btn-group" role="group">
                     <button type="button" class="btn btn-primary"><a [routerLink]="['/sign-in/login']" style="color: black"><b><i class="fas fa-address-book"></i> Sign In</b></a></button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary"><a [routerLink]="['/sign-in/registration']" style="color: black"><b><i class="far fa-id-card"></i> Registration</b></a></button>
                </div>                          
            </div>
        </div> 
    </div>
</div><br>

<div class="col-md-10 offset-md-1">
    <router-outlet></router-outlet>
</div>
         
      