<div class="center">
   <h1>
      <img src="http://grodnotorgservice.by/images/aukcion.png"  height="42" width="42">
      <b><a style="color: #911E42" class='navbar-brand; format' [routerLink]='["/"]'> <i class="fab fa-opera"></i>nline-<i class="fab fa-app-store-ios"></i>uction</a></b>
      <img src="http://grodnotorgservice.by/images/aukcion.png"  height="42" width="42">
     
   </h1>
</div>

<div class="col-2-4">
  <div class="center">
    <div class="conte">
      <div class="btn-group btn-group-justified" role="group">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-danger"><a [routerLink]='["/"]' style="color: black"><i class="fas fa-university"></i><b>Auction</b></a></button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-danger"><a [routerLink]='["/rating"]' style="color: black"><i class="fas fa-chart-bar"></i><b>Rating</b></a></button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-danger"><a [routerLink]='["/sign-in"]' style="color: black"><i class="fab fa-redhat"></i><b>Check In</b></a></button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-danger"><a [routerLink]='["/info"]' style="color: black"><i class="fas fa-info"></i><b>Info</b></a></button>
        </div>
      </div>
    </div> 
  </div>
</div><br>


<div class="r">
  <div class="container">
    <div class="row">
      <div class="col-2-12">
        <app-input></app-input>
      </div>
    </div>
  </div> 
</div>
      